<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add-congratulation</title>
</head>
<body>
<a href="/login">Logout</a>
<form action="/add-congratulation" enctype="multipart/form-data" method="POST">

    <div>
        <p>Paste link for your youtube video</p>
        <textarea data-val="true" aria-describedby="descriptionHelp"
                  id="youtube" name="youtube" rows="10"
                  placeholder="After entering each link on a video from YouTube, press ENTER"></textarea>
    </div>

    <div>
        <p>Download your pictures</p>
        <p><input type="file" name="picture" multiple accept="image/jpeg,image/png" lang="en">
    </div>

    <div>
        <p>Download your audio-files</p>
        <input type="file" name="audio" multiple accept="audio/*" lang="en">
    </div>

    <div>
        <p>Paste your links</p>
        <textarea data-val="true" aria-describedby="descriptionHelp"
                  id="plain-link" name="plain-link" rows="10"
                  placeholder="After entering each link press ENTER"></textarea>
    </div>
    <br>

    <input type="hidden" name="message" value="Hello from your page">
    <input type="hidden" name="card-id" value="1">

    <button>
        <p>SAVE</p>
    </button>
</form>

</body>
</html>