<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Edit Block</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/reset.css" />
		<link rel="stylesheet" href="../../assets/css/block-editor.css" />
		<meta charset="UTF-8">
	</head>
	<body>	
	<div class="wrapper">
		<div class="main-functions">
			<div class="command__row">
				<div class="filter__blocks">
				</div>
				<div class="actions__row">
					<input type="submit" for="elements-adder__column text editor" class="save-block yellow-button command-button" value="Save Block">
					<a href="#" class="delete-block white-button command-button">Delete Block</a>
				</div>
			</div>
			<main class="container no-bottom-padding">
				<div class="text-editor"></div>
				<form action="#" id="elements-adder__row" enctype="multipart/form-data" method="POST">

					<label for="image-files" class="file-adder adder" name="images">
						
						<img src="../../assets/pictures/picture.png" class="element-type-icon">
						<img src="../../assets/pictures/add.png" class="element-adder-icon">
						
						<input type="file" id="image-files" name="image-files" accept="image/*" class="files-input" multiple>
					</label>

					<label for="audio-files" class="file-adder adder" name="audio">
						
						<img src="../../assets/pictures/audio.png" class="element-type-icon">
						<img src="../../assets/pictures/add.png" class="element-adder-icon">
						
						<input type="file" id="audio-files" name="audio-files" accept="audio/*" class="files-input" multiple>
					</label>

					<label for="links" class="link-adder adder" name="links">
						<img src="../../assets/pictures/link.png" class="element-type-icon">
						<input type="text" id="links" name="links" class="links" placeholder="...">
					</label>

				</form>
				<form action="#" id="optional-elements__box">
					<div class="command__row">
						<div class="filter__blocks">
						</div>
						<div class="actions__row">
							<input type="submit" for="elements-adder__column text editor" class="save-block yellow-button command-button" value="Delete Selected">
						</div>
					</div>
					<div class="container">
						<div class="element-with-checkbox">
							<label for="delete-element1-image">
								<img src="../../assets/pictures/photo-1553135422-400ee5852b27.png" class="optional-element optional-element_image">
							</label>
							<input type="checkbox" id="delete-element1-image">
						</div>
						<div class="element-with-checkbox">
							<label for="delete-element2-image">
								<audio controls class="optional-element optional-element_audio">
									<source src="../../assets/audio/Fright of Their Lives.mp3" type="audio/mp3">
								</audio>
							</label>
							<input type="checkbox" id="delete-element2-image">
						</div>
					</div>
				</form>
			</main>
		</div>
	</div>
	</body>
	</html>
