<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Contribute to card</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/reset.css" />
		<link rel="stylesheet" href="../../assets/css/card-editor-creator.css" />
		<meta charset="UTF-8">
	</head>
	<body>	
	<div class="wrapper">
		<header class="header">
			<div class="app-name">GreetTeam</div>
			<div class=header-right__row>
				<div class="navigation-row">
					<a href="#" class="navigation-link home">
						<img src="../../assets/pictures/home.png">
					</a>
					<a href="#" class="navigation-link profile">
						<img src="../../assets/pictures/user.png">
					</a>
					<a href="#" class="navigation-link my-cards">
						<img src="../../assets/pictures/photos.png">
					</a>
					<a href="#" class="navigation-link log-out">
						<img src="../../assets/pictures/exit.png">
					</a>
				</div>
				<div class="user-greeting">Hello, Author1!</div>
			<div>
		</header>
		<div class="main-functions">
			<div class="command__row">
				<div class="filter__blocks">
					<a href="#" class="filter-button chosen">All Blocks</a>
					<a href="#" class="filter-button">My Blocks</a>
				</div>
				<div class="actions__row">
					<a href="#" class="add-block yellow-button command-button">+ Add block</a>
					<a href="#" class="signal-finish white-button command-button">Finish Card</a>
					<a href="#" class="leave-card yellow-button command-button">Delete Card</a>
				</div>
			</div>
			<main class="container">
				<div class="congratulation-block">
					<div class="signature">Author1</div>
					<div class="congratulation-body">
						<div class="block-actions__container">
							<div class="block-actions__dropdown">
								<img src="../../assets/pictures/mark.png">
								<div class="block-actions">
									<a href="#" class="dropdown-link">Edit block</a>
									<a href="#" class="dropdown-link">Delete block</a>
								</div>
							</div>
						</div>
						<div class="text-element">Happy Birthday</div>
						<div class="optional-element">
							<img src="../../assets/pictures/photo-1553135422-400ee5852b27.png" class="optional-element_image">
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	</body>
	</html>