<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GreetTeam home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../assets/css/reset.css" />
		<link rel="stylesheet" href="../../assets/css/home.css" />
		<meta charset="UTF-8">
	</head>
	<body>
		<div class="wrapper">
			<div class="app-description__row">
				<div class="text-description__column">
					<div class="app-name app-name_home">GreetTeam</div>
					<div class="app-description">Send a greeting card from all friends</div>
				</div>
				<div class="app-example-picture"></div>
			</div>
			<div class="call-to-action__row">
				<a href="#" class="call-to-action yellow-button">Share our link</a>
				<a href="#" class="call-to-action white-button">Go to My Cards</a>
			</div>
		</div>
	</body>
</html>