<!DOCTYPE html>
<xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration</h1>
<div class="body__column">
    <form action="/registration" method="POST" class="profile-text">
        <input type="text" id="firstName" class="styled-as-input" name="firstName"
               placeholder="put your firstName here">
        <input type="text" id="lastName" class="styled-as-input" name="lastName"
               placeholder="put your lastName here">
        <input type="email" id="email" class="styled-as-input" name="email" placeholder="put your email here">
        <input type="login" id="login" class="styled-as-input" name="login" placeholder="put your login here">
        <input type="password" id="password" class="styled-as-input" name="password"
               placeholder="put your old password here">
        <input type="password" id="new-password-check" class="styled-as-input" name="new-password-check"
               placeholder="and here, to check">
        <input type="submit" class="button-link" value="Registration">
    </form>
</div>
</body>
</html>