.verification-card {
	height: 667px;
	width: 1000px;
	background-image: url(../../assets/images/postcard.jpg);
}

.verification-card-row {
	display: flex;
}

.postcard-column {
	flex: 0 1 50%;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	margin: 150px 50px 150px 50px;
	height: 480px;
	padding: 25px;
	font-size: 26px;
	font-family: 'Sunshiney';
}

.thank-you {}

.greetteam-sign {
	margin-left: 55px;
}