<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:application.properties" order="1" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath:dev.properties" order="2"/>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="initialSize" value="${connections.amount}"/>
    </bean>

    <bean id="maxInactiveInterval" class="java.lang.Integer">
        <constructor-arg value="${max.inactive.interval}"/>
    </bean>

    <bean id="rootDirectory" class="java.lang.String">
        <constructor-arg value="${dir.files}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="namedJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="userDao" class="com.greetingcard.dao.jdbc.JdbcUserDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <bean id="securityService" class="com.greetingcard.security.DefaultSecurityService">
        <property name="userDao" ref="userDao"/>
        <property name="algorithm" value="${algorithm}"/>
        <property name="iteration" value="${iteration}"/>
        <property name="pathToFile" value="${dir.files}"/>
    </bean>

    <bean id="congratulationDao" class="com.greetingcard.dao.jdbc.JdbcCongratulationDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="namedJdbcTemplate" ref="namedJdbcTemplate"/>
    </bean>

    <bean id="congratulationService" class="com.greetingcard.service.impl.DefaultCongratulationService">
        <property name="congratulationDao" ref="congratulationDao"/>
        <property name="rootDirectory" ref="rootDirectory"/>
        <constructor-arg ref="congratulationDao"/>
    </bean>

    <bean id="objMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <constructor-arg ref="transactionManager"/>
    </bean>

    <bean id="cardDao" class="com.greetingcard.dao.jdbc.JdbcCardDao">
        <property name="congratulationDao" ref="congratulationDao"/>
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="namedParameterJdbcTemplate" ref="namedJdbcTemplate"/>
        <property name="transactionTemplate" ref="transactionTemplate"/>
    </bean>

    <bean id="cardService" class="com.greetingcard.service.impl.DefaultCardService">
        <constructor-arg ref="cardDao"/>
        <constructor-arg ref="congratulationDao"/>
    </bean>

    <bean id="cardUserDao" class="com.greetingcard.dao.jdbc.JdbcCardUserDao">
        <property name="namedParameterJdbcTemplate" ref="namedJdbcTemplate"/>
    </bean>

    <bean id="cardUserService" class="com.greetingcard.service.impl.DefaultCardUserService">
        <constructor-arg ref="cardUserDao"/>
        <constructor-arg ref="securityService"/>
        <constructor-arg ref="cardService"/>
        <constructor-arg ref="congratulationService"/>
    </bean>

    <tx:annotation-driven />

    <context:component-scan base-package="com.greetingcard">
        <context:exclude-filter type="regex" expression="com\.greetingcard\.controller\..*"/>
    </context:component-scan>
</beans>
