<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="card(id, name, backgroundImage, cardLink, status, role)">

    <div>
        <a th:href="@{/preview(card_id=${id},user_role=${role.getUserRole()})}">
            <h2 th:text="${id}">ID</h2>
            <h2 th:text="${name}">NAME</h2>
            <h2 th:text="${backgroundImage}">BACKGROUND</h2>
            <h2 th:text="${cardLink}">CARDLINK</h2>
            <h2 th:text="${status}">STATUS</h2>
            <h2 th:text="${role.getUserRole()}">ROLE</h2>
        </a>
        <div th:replace="~{/fragments/editDelete.html :: user_role(${role})}"></div>
    </div>

</th:block>