<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="user_role(role)">
    <div>
        <div>
            <button>
                <a href="/edit">Edit</a>
            </button>
        </div>
        <div th:if="${role.getRoleNumber() == 1}">
            <button>
                <a href="/delete">Delete</a>
            </button>
        </div>
        <div th:if="${role.getRoleNumber() == 2}">
            <button>
                <a href="/leave">Leave</a>
            </button>
        </div>
    </div>
</th:block>