<?xml version="1.0" encoding="UTF-8" ?>

<web-app>

    <listener>
        <listener-class>com.greetingcard.web.listener.ThymeleafInitializerListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LoginLogoutServlet</servlet-name>
        <servlet-class>com.greetingcard.web.servlet.user.LoginLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginLogoutServlet</servlet-name>
        <url-pattern>/login-logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.greetingcard.web.servlet.user.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
  
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.greetingcard.web.servlet.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.greetingcard.web.servlet.user.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCardsServlet</servlet-name>
        <servlet-class>com.greetingcard.web.servlet.card.GetCardsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCardsServlet</servlet-name>
        <url-pattern>/all-cards</url-pattern>
        <url-pattern>/my-cards</url-pattern>
        <url-pattern>/another`s-cards</url-pattern>
    </servlet-mapping>
  
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.greetingcard.web.servlet.user.EditProfileUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateCard</servlet-name>
        <servlet-class>com.greetingcard.web.servlet.card.CreateCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateCard</servlet-name>
        <url-pattern>/create-card</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCongratulationServlet</servlet-name>
        <servlet-class>com.greetingcard.web.servlet.congratulation.AddCongratulationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCongratulationServlet</servlet-name>
        <url-pattern>/add-congratulation</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PreviewServlet</servlet-name>
        <servlet-class>com.greetingcard.web.servlet.card.PreviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreviewServlet</servlet-name>
        <url-pattern>/preview/*</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.greetingcard.web.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/create-card</url-pattern>
        <url-pattern>/all-cards</url-pattern>
        <url-pattern>/my-cards</url-pattern>
        <url-pattern>/another`s-cards</url-pattern>
        <url-pattern>/add-congratulation</url-pattern>
    </filter-mapping>

</web-app>