<?xml version="1.0" encoding="UTF-8" ?>

<web-app>

    <display-name>greetingcard</display-name>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/spring/applicationContext.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>LoginLogoutServlet</servlet-name>-->
<!--        <servlet-class>com.greetingcard.web.servlet.user.LoginLogoutServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>LoginLogoutServlet</servlet-name>-->
<!--        <url-pattern>/api/v1/session</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>RegistrationServlet</servlet-name>-->
<!--        <servlet-class>com.greetingcard.web.servlet.user.RegistrationServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>RegistrationServlet</servlet-name>-->
<!--        <url-pattern>/api/v1/user</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>GetCardsServlet</servlet-name>-->
<!--        <servlet-class>com.greetingcard.web.servlet.card.GetCardsServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>GetCardsServlet</servlet-name>-->
<!--        <url-pattern>/api/v1/cards</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>CardServlet</servlet-name>-->
<!--        <servlet-class>com.greetingcard.web.servlet.card.CardServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>CardServlet</servlet-name>-->
<!--        <url-pattern>/api/v1/card</url-pattern>-->
<!--        <url-pattern>/api/v1/card/*</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>CongratulationServlet</servlet-name>-->
<!--        <servlet-class>com.greetingcard.web.servlet.congratulation.CongratulationServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>CongratulationServlet</servlet-name>-->
<!--        <url-pattern>/api/v1/congratulation</url-pattern>-->
<!--        <url-pattern>/api/v1/congratulation/*</url-pattern>-->
<!--    </servlet-mapping>-->

    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.greetingcard.web.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/api/v1/cards</url-pattern>
        <url-pattern>/api/v1/card</url-pattern>
        <url-pattern>/api/v1/card/*</url-pattern>
        <url-pattern>/api/v1/congratulation</url-pattern>
        <url-pattern>/api/v1/congratulation/*</url-pattern>
    </filter-mapping>

</web-app>